@import './variables';
@import './mixins';

@import "ember-bootstrap/bootstrap";
@import 'pod-styles';

html, body {
  color: $dark;
  letter-spacing: .05em;
}

small, .small {
  font-weight: 300;
  color: $secondary;
  letter-spacing: initial;
}

*, *:focus, *:active {
  outline: none;
}
