$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$gray-100: #E1E1E6;
$primary: #86ab43;
$secondary: #6f9c29;
$dark: #1a1a1a;
