.carousel.slide {
  @include skew-on-hover;
  font-size: 1.25rem;

  &.people {
    @include action-on-hover('Click now to sign up! Join Jim, Paul, and Sadie!');
  }

  &.benefits {
    @include action-on-hover('Click now to sign up and reap all these benefits!');
  }
}

.map-container {
  @include skew-on-hover;
  @include action-on-hover('What are you waiting for? Click now to sign up, and come say hello!');

  padding: 0;
  font-size: 1.5rem;
}

&.did-submit {
  .carousel.slide.people::after {
    content: 'Click now to share your Karma Co-op story on Facebook!';
  }

  .carousel.slide.benefits::after {
    content: 'Click now to share these benefits with your Facebook friends!';
  }

  .map-container::after {
    content: 'Click now to share this on Facebook and help your friends find Karma Co-op!';
  }
}
