<p class='container small mb-0'>
  All content copyright {{moment-format (utc) 'YYYY'}} by Karma Food Co-operative.
  Source code published <a href='https://github.com/anulman/karma-signup'>on Github</a>.
  This site adheres to our {{! todo }} Terms of Service & {{! todo }} Privacy Policy.
</p>
