<p class='container small mb-0'>
  All content copyright {{moment-format (utc) 'YYYY'}} Karma Food Co-operative.
  Source code published <a href='https://github.com/anulman/karma-signup'>on Github</a>.
  This site adheres to our
  <a href='http://www.karmacoop.org/wp-content/uploads/2018/03/Terms-and-Conditions-Created-March-13-2018.pdf' target='_blank'>Terms of Service</a> &
  <a href='http://www.karmacoop.org/wp-content/uploads/2018/03/Privacy-Policy-Created-March-13-2018.pdf' target='_blank'>Privacy Policy</a>.
</p>
